[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LDM"]
	path = LDM
	url = https://github.com/yijuanhu/ldm
[submodule "LOCOM2"]
	path = LOCOM2
	url = https://github.com/yijuanhu/locom2
[submodule "TestNet"]
	path = TestNet
	url = https://github.com/yijuanhu/testnet
